*{
	margin: 0px;
	padding: 0px;;
}

/*----------------header--------------*/
header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:pink;
	margin-bottom:20px;
}
h1{
    position: relative;
    left: 1000px;
    top: 30px;
    font-size:50px;
    font-family: 'Bebas Neue', cursive;
}
 
.logo{
    position: relative;
    top: -100px;
    left: 60px;
}
/*-----------main-----------*/
body{
    background-color:pink;
}
/*-----------------footer--------------*/

ul{
    position: relative;
    bottom: -320px;
    list-style-type: none;
}
.redes li{
    display: inline-block;
    padding-left: 150px;
    
    
    
}